<VirtualHost *:80>
    ServerName web-01.mynet-513.com
    ServerAlias mynet-513.com
    DocumentRoot /var/www/mynet-513.com/html
    ErrorLog /var/www/mynet-513.com/log/error.log
    CustomLog /var/www/mynet-513.com/log/requests.log combined
</VirtualHost>